html body{
    padding: 0;
    margin: 0;
    background-image: url(Blue1.PNG);
    background-size: cover;
}
.header{
    display: flex;
    background-color:  #519fc99c;
}
.shecancode{
    height: 70px;
}
.vixy{
    position: absolute;
    height: 70px;
    margin-left: 1250px;
    border-radius: 50%;
}
.header ul{
    display: flex;
    list-style: none;
    
}
.header ul li{
    margin-right: 20px;
    margin-top: 10px;
}
.header ul li :hover{
    background-color: #114C6B ;
}
.header ul li a{
    text-decoration: none;
    color: black;
}
.sidebar{
    background-color: #114c6b94;
    height: 597px;
    width: 140px;
}
.header2{
    background-color: #114c6b8e;
    height: 70px;
    width: 1225px; 
    margin-left: 140px;
    margin-top: -597px;
    
}
.vinah{
    position: absolute;
    height: 70px;
    margin-left: 890px;
    border-radius: 50%;
}
.P3{
    position: absolute;
    height: 70px;
    margin-left: 980px;
    border-radius: 50%;
}
.p2{
    position: absolute;
    height: 70px;
    margin-left: 1070px;
    border-radius: 50%;
}

#member{
    position: absolute;
    margin-top: 65px;
    margin-left: 10px;
    font-size: 20px;

}
#users-icon{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
}
#settings-icon{
    position: absolute;
    margin-left: 20px;
    margin-top: 120px;
    font-size: 40px;
}
#setting{
    position: absolute;
    margin-top: 165px;
    margin-left: 10px;
    font-size: 20px;

}
.container{
    
    width: 1100px;
    height: 470px;
    margin-left: 180px;
    margin-top: 20px;
    display: flex;
}
.cards-container{
    background-color: rgba(255, 255, 255, 0.411);
    width: 230px;
    margin-right: 30px;

}
.cards-container-status{
    font-size: 25px;
   /* margin-left: 60px;*/
    margin-top: 10px;
}
.title{
    margin-left: 50px;
}
.actor{
    margin-left: 60px;
}
#schedule{
    position: absolute;
    height: 40px;
    margin-left: 5px;
    
}
#act{
    position: absolute;
    height: 30px;
    margin-left: 5px;
    
    
}
#test{
    position: absolute;
    height: 40px;
    margin-left: 5px;
    
}
#complete{
    position: absolute;
    height: 40px;
    margin-left: 5px;
    
}
.cards-container-list{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.card{
    background-color: #114C6B ;
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
    display: flex;
    border-radius: 10px;
}
.card-title{
    font-size: 20px;
    color: white;
}
#b1{
    height: 30px;
   margin-left: 30%;
   border-radius: 50%;
}
#b11{
    height: 30px;
   margin-left: 20%;
   border-radius: 50%;
}
#b2{
    height: 30px;
   margin-left: 40%;
   border-radius: 50%;
}
#b22{
    height: 30px;
   margin-left: 30%;
   border-radius: 50%;
}
#b3{
    height: 30px;
   margin-left: 40%;
   border-radius: 50%;
}
#b33{
    height: 30px;
   margin-left: 10%;
   border-radius: 50%;
}
#b4{
    height: 30px;
   margin-left: 40%;
   border-radius: 50%;
}
#b44{
    height: 30px;
   margin-left: 35%;
   border-radius: 50%;
}
#b5{
    height: 30px;
    margin-left: 30px;
    border-radius: 50%;
}
#b55{
    height: 30px;
    margin-left: 50px;
    border-radius: 50%;
}
.modify{
    display: flex;
    font-size: 20px;
    position: absolute;
    margin-top: 6px;
   
}
#edit{
   margin-left: 160px;
}
#trash{
    margin-left: 5px;
}
